/* media query min-width 900px */

/* Recommended addition to prevent content extending beyond viewport */
img {
  box-sizing: border-box;
  max-width: 95%;
  padding: 5px;
}

/* borders for editing

div {
  border: dashed 2px red;
}*/

/* flexbox styling */
.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 900px;
  display: -webkit-flex;
  margin: 20px;
}
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.welcome-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured-work {
  border: 1px solid #5f6060;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.featured-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social-media {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px;
}

/* text styling */
h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  color: #000000;
  margin: 5px;
}
h2 {
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  color: #5f6060;
  margin: 5px;
}
h3 {
  color: #000000;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-align: center;
}
p.project-title {
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 25px;
  color: #000000;
  text-decoration: none;
}

/* Link styling
a {
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 25px;
  color: #5f6060;
  text-decoration: none;
}
*/
a.social-links:hover {
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 25px;
  color: black;
  transition: .5s;
}
a.social-links {
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 18px;
  color: #5f6060;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

/* Hover effect for images*/
.featured-image:hover {
  border-radius: 0;
  opacity: 0.7;
  transition: .05s;
}
